body {
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

.hamburger {
  width: 30px;
  height: 20px;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hamburger span {
  height: 2.5px;
  width: 100%;
  background-color: #333;
  border-radius: 1px;
}

.rule {
  border: none;
  height: 1px;
  background-color: #f5ecec;
  margin: 20px 0;
}
.btn {
  
  display: flex;
  align-items: center;      
  justify-content: center; 
  padding-top: 2%;
  padding: 12px 24px;
  font-size: 18px;
  font-weight: 500;
  color: white;
  border: 1px solid #888;
  background: rgb(5, 110, 230);
  cursor: pointer;
}
